/**************************/
/* BELOW 1280px (Smaller desktops) */
/**************************/

@media (max-width: 80em) {
  .ueber-img {
    max-width: 40rem;
  }

  .ueber-grid {
    align-items: start;
  }
}

/**************************/
/* BELOW 800px */
/**************************/

@media (max-width: 50em) {
  .ueber-grid {
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
  }

  .ueber-grid {
    gap: 0rem;
  }

  .first-img-container {
    grid-row: 1;
  }

  .first-img-container,
  .second-img-container {
    margin-bottom: 3.2rem;
  }

  .ueber-img {
    max-width: 35rem;
  }

  .heading-tertiary {
    max-width: 60rem;
  }

  .text-el {
    max-width: 60rem;
  }
}

/**************************/
/* BELOW 600px */
/**************************/

@media (max-width: 37.5em) {
  .first-img-container,
  .second-img-container {
    justify-self: start;
  }

  .ueber-img {
    max-width: 30rem;
  }
}

/**************************/
/* BELOW 400px */
/**************************/

@media (max-width: 25em) {
  .ueber-container {
    padding: 0 2.4rem;
  }
}
