/**************************/
/* Header & Hero Section */
/**************************/

.start-view {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(../img/header-background.jpg);
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
}

.site-title {
  margin: 4.8rem 3.2rem;
}

.site-title-link:link,
.site-title-link:visited {
  color: #f1f3f5;
  text-decoration: none;
  font-size: 3.2rem;
}

.btn-reserve:link,
.btn-reserve:visited {
  margin-left: auto;
  font-size: 3.2rem;
  background-color: #be4bdb;
  color: #f1f3f5;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
}

.btn-reserve:hover,
.btn-reserve:active {
  background-color: #cc5de8;
}

.btn-nav {
  margin-right: 3.2rem;
  margin-left: 6.4rem;
  background-color: transparent;
  color: #f1f3f5;
  border: none;
  cursor: pointer;
}

.menu-icon {
  height: 4.8rem;
  width: 4.8rem;
}

/*NAVIGATION */
.btn-mobile-nav {
  display: block;
  z-index: 9999;
}

.main-nav {
  background-color: #ebfbee;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* transform: translateX(100%); */

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;

  /* Hide navigation */
  /* Allows NO transitions at all */
  /* display: none; */

  /* 1) Hide it visually */
  opacity: 0;

  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  /* transform: translateX(0); */
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.main-nav-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 4.8rem;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 5rem;
  list-style: none;
  text-decoration: none;
  color: #087f5b;
}

.section-hero {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 35rem;
  border-radius: 9999px;
  box-shadow: 1.2rem 1.2rem 4.8rem #000;
}

/**************************/
/* Featured In Section */
/**************************/

.featured-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  color: #888;
}

.featured-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin: 0 4.8rem 9.6rem 4.8rem;
}

.feature-img {
  justify-self: center;
  max-width: 18rem;
  filter: brightness(0);
  opacity: 50%;
}

.img-20min {
  max-width: 5rem;
}

/**************************/
/* Find Us Section */
/**************************/

.text-container {
  margin: 3.2rem 6.4rem;
  align-self: center;
  justify-self: center;
}

.secondary-heading {
  font-size: 4.8rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.75px;
  margin-bottom: 3.2rem;
}

.text-el {
  font-size: 2rem;
  line-height: 1.5;
}

.map-container {
  justify-self: center;
  align-self: center;
  /* position: relative;
  text-align: right; */
  height: 500px;
  width: 500px;
}

.map {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 500px;
}

/**************************/
/* Events Section */
/**************************/
