/**************************/
/* Header & Hero Section */
/**************************/

.start-view {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(../img/header-background.webp);
  background-size: cover;
}

.section-hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.8rem;
}

.logo-img {
  height: 35rem;
  border-radius: 9999px;
  box-shadow: 1.2rem 1.2rem 4.8rem #000;
  margin-bottom: 3.2rem;
}

.btn-reserve-home:link,
.btn-reserve-home:visited {
  font-size: 3.2rem;
  background-color: #be4bdb;
  color: #f1f3f5;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
  transition: all 0.3s;

  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.534);
}

.btn-reserve-home:hover,
.btn-reserve-home:active {
  background-color: #cc5de8;
}

.brunch-reserve-home:link,
.brunch-reserve-home:visited {
  font-size: 3.2rem;
  background-color: #be4bdb;
  /* box-shadow: inset 0 0 0 3px #be4bdb; */
  color: #f1f3f5;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
  transition: all 0.3s;

  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.534);
}

.brunch-reserve-home:hover,
.brunch-reserve-home:active {
  background-color: #cc5de8;
}

/**************************/
/* Featured In Section */
/**************************/

.section-featured {
  /* border-bottom: 1px solid #888; */
  margin-bottom: 12.8rem;
}

.featured-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  color: #888;
}

.featured-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin: 0 8rem 0rem 8rem;
}

.featured-link {
  justify-self: center;
  display: flex;
}

.feature-img {
  justify-self: center;
  max-width: 18rem;
  filter: brightness(0);
  opacity: 50%;
}

.img-20min {
  max-width: 5rem;
}

/**************************/
/* Events Section */
/**************************/

.section-events {
  margin-bottom: 15rem;
}

.events-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.event-grid {
  justify-items: center;
  padding: 0 2.4rem;
}

.secret-bar-event,
.sushi-event,
.brunch-event {
  border-radius: 20px;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.2);
}

.event-img {
  width: 35rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.event-data {
  margin: 2.4rem 2.4rem 3.2rem 2.4rem;
}

.event-list {
  list-style: none;
}

.event-list-element {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}

.event-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.2rem;
}

.event-link:link,
.event-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  background-color: #087f5b;
  color: #f1f3f5;
  margin-left: 2.4rem;
  padding: 0.8rem 1.2rem;
  border-radius: 11px;
  transition: all 0.3s;
}

.event-link:hover,
.event-link:active {
  background-color: #218c6b;
}

.event-link-container {
  margin-bottom: 3.2rem;
}

/**************************/
/* Find Us Section */
/**************************/

.section-find-us {
  margin-bottom: 15rem;
  background-color: #cee5de;
  padding: 3.2rem 0;
}

.text-container {
  margin: 3.2rem 6.4rem;
  align-self: center;
  justify-self: center;
}

.map-container {
  justify-self: center;
  align-self: center;
  /* position: relative;
  text-align: right; */
  height: 50rem;
  width: 50rem;
}

.map {
  overflow: hidden;
  background: none !important;
  height: 50rem;
  width: 50rem;
  border-radius: 20px;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
}

.iframe {
  width: 50rem;
  height: 50rem;
}

/**************************/
/* Newsletter Section */
/**************************/

.newsletter-grid {
  display: grid;
  grid-template-columns: 6fr 3fr;
  background-color: #087f5b;
  max-width: 120rem;
  border-radius: 20px;
}

.newsletter-form-container {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

.newsletter-title {
  color: #fff;
  margin-top: 3.2rem;
}

.newsletter-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  color: #e6fcf5;
}

.field-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.label-newsletter {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: #e6fcf5;
}

.newsletter-input {
  height: 3.8rem;
  width: 25rem;
  border-radius: 9px;
  border: none;
  margin-bottom: 3.2rem;
  background-color: #e6fcf5;

  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  padding: 0 1.2rem;
}

.newsletter-input::placeholder {
  color: #aaa;
}

.newsletter-form-container *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.newsletter-btn-container {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 2.8rem;
}

.btn-newsletter {
  height: 3.8rem;
  width: 25rem;
  border-radius: 9px;
  border: none;
  background-color: #fff;
  color: #087f5b;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}

.response {
  color: #e6fcf5;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.cta-img-box {
  background-image: linear-gradient(90deg, #087f5b, #087f5b4f),
    url("../img/newsletter-img.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
