/**************************/
/* Header & Hero Section */
/**************************/

.start-view {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(../img/header-background.jpg);
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;

  /* Because of sticky header */
  height: 12rem;
  /* padding: 0 4.8rem; */
  position: relative;
}

.site-title {
  margin: 4.8rem 3.2rem;
}

.site-title-link:link,
.site-title-link:visited {
  color: #f1f3f5;
  text-decoration: none;
  font-size: 3.2rem;
}

.btn-reserve:link,
.btn-reserve:visited {
  margin-left: auto;
  font-size: 3.2rem;
  background-color: #be4bdb;
  color: #f1f3f5;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
  transition: all 0.3s;
}

.btn-reserve:hover,
.btn-reserve:active {
  background-color: #cc5de8;
}

.btn-nav {
  margin-right: 3.2rem;
  margin-left: 6.4rem;
  background-color: transparent;
  color: #f1f3f5;
  border: none;
  cursor: pointer;
  height: 4.8rem;
  width: 4.8rem;
}

.menu-icon {
  height: 4.8rem;
  width: 4.8rem;
}

/*NAVIGATION */
.nav-open .btn-nav {
  display: block;
  z-index: 9999;
  position: fixed;
  right: 0;
}

.x-icon {
  display: none;
}

.main-nav {
  background-color: #f1f3f5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* transform: translateX(100%); */

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;

  /* Hide navigation */
  /* Allows NO transitions at all */
  /* display: none; */

  /* 1) Hide it visually */
  opacity: 0;

  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.nav-open .btn-reserve {
  display: none;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 5555;
  position: fixed;
  /* transform: translateX(0); */
}

.nav-open .x-icon {
  display: block;
  color: #555;
}

.nav-open .menu-icon {
  display: none;
}

.main-nav-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 4.8rem;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 5rem;
  list-style: none;
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #087f5b;
}

.section-hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 35rem;
  border-radius: 9999px;
  box-shadow: 1.2rem 1.2rem 4.8rem #000;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9.6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.897);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .menu-icon {
  color: #555;
}

.sticky .site-title-link:link,
.sticky .site-title-link:visited {
  color: #333;
}

/**************************/
/* Featured In Section */
/**************************/

.section-featured {
  /* border-bottom: 1px solid #888; */
  margin-bottom: 12.8rem;
}

.featured-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  color: #888;
}

.featured-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin: 0 8rem 0rem 8rem;
}

.featured-link {
  justify-self: center;
  display: flex;
}

.feature-img {
  justify-self: center;
  max-width: 18rem;
  filter: brightness(0);
  opacity: 50%;
}

.img-20min {
  max-width: 5rem;
}

/**************************/
/* Events Section */
/**************************/

.section-events {
  margin-bottom: 15rem;
}

.events-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.event-grid {
  /* justify-items: center; */
  gap: 6.4rem;
}

.sushi-event {
  justify-self: end;
}

.secret-bar-event {
  justify-self: start;
}

.secret-bar-event,
.sushi-event {
  border-radius: 20px;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.2);
}

.event-img {
  width: 40rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.event-data {
  margin: 3.2rem 3.2rem 6.4rem 3.2rem;
}

.event-list {
  list-style: none;
}

.heading-tertiary {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 3.2rem;
}

.event-list-element {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.event-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.2rem;
}

.event-link:link,
.event-link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  background-color: #087f5b;
  color: #f1f3f5;
  margin-left: 3.2rem;
  margin-bottom: 4.8rem;
  padding: 0.8rem 1.2rem;
  border-radius: 11px;
  transition: all 0.3s;
}

.event-link:hover,
.event-link:active {
  background-color: #218c6b;
}

.event-link-container {
  margin-bottom: 4.8rem;
}

/**************************/
/* Find Us Section */
/**************************/

.section-find-us {
  margin-bottom: 15rem;
  background-color: #cee5de;
  padding: 3.2rem 0;
}

.text-container {
  margin: 3.2rem 6.4rem;
  align-self: center;
  justify-self: center;
}

.map-container {
  justify-self: center;
  align-self: center;
  /* position: relative;
  text-align: right; */
  height: 500px;
  width: 500px;
}

.map {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
}

/**************************/
/* Newsletter Section */
/**************************/

.newsletter-grid {
  display: grid;
  grid-template-columns: 6fr 3fr;
  background-color: #087f5b;
  max-width: 120rem;
  border-radius: 20px;
}

.newsletter-form-container {
  margin-left: 4.8rem;
}

.newsletter-title {
  color: #fff;
  margin-top: 3.2rem;
}

.newsletter-text {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
  color: #e6fcf5;
}

.field-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.label-newsletter {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: #e6fcf5;
}

.newsletter-input {
  height: 3.8rem;
  width: 25rem;
  border-radius: 9px;
  border: none;
  margin-bottom: 3.2rem;
  background-color: #e6fcf5;
}

.newsletter-btn-container {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 2.8rem;
}

.btn-newsletter {
  height: 3.8rem;
  width: 25rem;
  border-radius: 9px;
  border: none;
  background-color: #fff;
  color: #087f5b;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}

.response {
  color: #e6fcf5;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.cta-img-box {
  background-image: linear-gradient(90deg, #087f5b, #087f5b4f),
    url("../img/newsletter-img.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/**************************/
/* Footer */
/**************************/

.footer {
  font-size: 1.6rem;
  line-height: 2.5;
  color: #777;
  padding-top: 7rem;
  border-top: 1px solid #ddd;
  margin-top: 15rem;
}

.container-footer {
  max-width: 110rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.heading-footer {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
  color: #444;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: inherit;
}

.footer-link:hover,
.footer-link:active {
  color: #333;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 8rem;
}

.footer-nav-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.footer-nav-list {
  list-style: none;
}

.resource-list {
  list-style: none;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.footer-logo {
  text-decoration: none;
  line-height: 0;
}

.logo {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: 3.2rem;
}

.footer-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 3.2rem;
  width: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.copyright {
  margin-top: 4.8rem;
  font-size: 1.2rem;
}

.contact {
  font-style: normal;
}

.address {
  margin-bottom: 4.8rem;
  color: #444;
}

.oeffnungsdaten {
  margin-bottom: 4.8rem;
}
