.ueber-container {
  padding: 0 4.8rem;
}

.ueber-grid {
  margin: 9.6rem 0;
  align-items: center;
  justify-items: center;
  gap: 4.8rem;
}

.long-text-grid {
  align-items: start;
}

.subtitle {
  letter-spacing: 5px;
}

.heading-tertiary {
  margin-bottom: 4.8rem;
}

.ueber-img {
  max-width: 50rem;
}

.catering-link:link,
.catering-link:visited {
  text-decoration: none;
  color: inherit;
}

.catering-link:hover,
.catering-link:active {
  color: #087f5b;
}

.external-link-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #087f5b;
}

.rounded-corners {
  border-radius: 11px;
}

.footer {
  margin-top: 20rem;
}
